@import "../../variables.scss";

.sections {
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
    background-color: transparent;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;

    padding: 0px 100px;

    /* div {
        width: 100%;
        height: calc(100vh - #{$navbarHeight});
    } */
}
