@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "./variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $fontPrimary;
    color: $textcolor;
}

body,
html {
    height: 100%;
    background: $backgroundGradient;
}

h2 {
    text-align: center;
    font-size: $fontsizeTitle;
    margin-bottom: 32px;
}

section {
    margin: 0 auto;
    max-width: 1100px;
}

.ityped-cursor {
    font-size: 2.2rem;
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
}

@keyframes blink {
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}
