$textcolor: white;
$primaryColor: #112031;
$secondaryColor: #345b63;
$lightColor: #d4ecdd;
$backgroundGradient: linear-gradient(107.56deg, #112031 0%, #345b63 100%) fixed;
$fontPrimary: "Poppins", sans-serif;
$paddingDefault: 1rem;
$navbarHeight: 130px;

$fontsizeTitle: 32px;
$fontsizeSubtitle: 24px;
